body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #14183D;
    color: white;
    padding: 20px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav .logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

nav a:hover {
    color: #ffeb3b;
}

.hero {
    text-align: center;
    padding: 50px 20px;
}

.hero h1 {
    font-size: 36px;
    margin: 20px 0;
}

.hero p {
    font-size: 18px;
}

.cta {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffeb3b;
    color: #14183D;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta:hover {
    background-color: #fbc02d;
}

section {
    padding: 40px 20px;
}

h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
}

.portfolio-pic {
    width: 150px;
    height: auto;
    border-radius: 50%;
    margin: 20px auto;
    display: block;
}

.about-text {
    text-align: center; /* Center align the about me paragraph */
}

.project-card {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s;
}

.project-card h3 {
    font-weight: bold;
    color: #14183D;
}

.project-card .description {
    opacity: 0; /* Initially hidden */
    position: absolute; /* Position absolutely within the card */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center align */
    transition: opacity 0.3s ease; /* Smooth fade-in transition */
}

.project-card:hover {
    transform: scale(1.05); /* Scale up on hover */
}

.project-card:hover .description {
    opacity: 1; /* Show description on hover */
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill {
    background-color: #e0e0e0;
    margin: 5px;
    padding: 10px 20px;
    border-radius: 20px;
    transition: transform 0.3s; /* Add transition effect */
}

.skill:hover {
    transform: rotate(10deg); /* Rotate effect on hover */
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #14183D;
    color: white;
}

.social-links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-button {
    background-color: #ffeb3b;
    color: #14183D;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 0 10px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.social-button:hover {
    background-color: #fbc02d;
}
